name: Build Prebuilds

on:
  push:
    branches:
      - main
      - master
      - 'fix/**'
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  prebuild:
    uses: tree-sitter/workflows/.github/workflows/package-prebuild.yml@main
    with:
      platforms: >-
        windows-2025,
        windows-11-arm,
        ubuntu-24.04,
        ubuntu-24.04-arm,
        macos-15,
        macos-15-intel
