name: Build Prebuilds

on:
  push:
    branches:
      - main
      - master
      - 'fix/**'
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  npm:
    uses: tree-sitter/workflows/.github/workflows/package-npm.yml@main
    with:
      generate: false
